##Getting and Knowing your Data


### Step 1. Import the necessary libraries

In [47]:
import pandas as pd

### Step 2. Import the dataset (Keep the "pandas_data.tsv" file in same PWD)

### Step 3. Assign it to a variable called chipo.

In [48]:
df = pd.read_csv("pandas_data.tsv", sep = '\t')

### Step 4. See the first 10 entries

In [49]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [50]:
# Solution 1

df.count()

order_id              4622
quantity              4622
item_name             4622
choice_description    3376
item_price            4622
dtype: int64

### Step 6. What is the number of columns in the dataset?

In [51]:
print(len(df.columns))

5

### Step 7. Print the name of all the columns.

In [52]:
print(df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [53]:
# print((df.index))
df.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [54]:
df.sort_values(by= 'item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 10. For the most-ordered item, how many items were ordered?

In [55]:
df.sort_values(by= 'item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

### Step 11. What was the most ordered item in the choice_description column?

In [56]:
df.sort_values(by= 'choice_description')

,order_id,quantity,item_name,choice_description,item_price
510,214,1,Burrito,"[Adobo-Marinated and Grilled Chicken, Pinto Be...",$7.40
675,279,1,Burrito,"[Adobo-Marinated and Grilled Chicken, [Sour Cr...",$7.40
521,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Chicken],$7.40
673,279,1,Bowl,"[Adobo-Marinated and Grilled Steak, [Sour Crea...",$7.40
520,217,1,Crispy Tacos,[Adobo-Marinated and Grilled Steak],$7.40
...,...,...,...,...,...
4600,1827,1,Chips and Guacamole,NaN,$4.45
4605,1828,1,Chips and Guacamole,NaN,$4.45
4613,1831,1,Chips,NaN,$2.15
4614,1831,1,Bottled Water,NaN,$1.50
4616,1832,1,Chips and Guacamole,NaN,$4.45

### Step 12. How many items were orderd in total?

In [57]:
df.item_name.value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

### Step 13. Turn the item price into a float

In [28]:
df['item_price'].apply(lambda x: float(x))

ValueError: could not convert string to float: '$2.39 '

### Step 14. How much was the revenue for the period in the dataset?

In [44]:
# # df.sum("item_price")

Total = sum(df['item_price'])

# df.loc["item_price"] = df['item_price'].sum()
# print(df)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Step 15. How many orders were made in the period?

In [45]:
Total = sum(df['quantity'])

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [58]:
df.loc["quantity"] = df['quantity'].sum()
print(df)

          order_id  quantity                              item_name  \
0                1         1           Chips and Fresh Tomato Salsa
1                1         1                                   Izze
2                1         1                       Nantucket Nectar
3                1         1  Chips and Tomatillo-Green Chili Salsa
4                2         2                           Chicken Bowl
...            ...       ...                                    ...
4618          1833         1                          Steak Burrito
4619          1834         1                     Chicken Salad Bowl
4620          1834         1                     Chicken Salad Bowl
4621          1834         1                     Chicken Salad Bowl
quantity      4972      4972                                   4972

                                         choice_description item_price
0                                                       NaN     $2.39
1                                              [Clementine]     $3.39
2                                                   [Apple]     $3.39
3                                                       NaN     $2.39
4         [Tomatillo-Red Chili Salsa (Hot), [Black Beans...    $16.98
...                                                     ...        ...
4618      [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619      [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620      [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621      [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75
quantity                                               4972       4972

[4623 rows x 5 columns]

In [59]:
df.sum(axis=1)

<ipython-input-59-f6cc363c055e>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.sum(axis=1)

0              2
1              2
2              2
3              2
4              4
            ...
4618        1834
4619        1835
4620        1835
4621        1835
quantity    9944
Length: 4623, dtype: int64